<!DOCTYPE html>
<html>
    <head>
        
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/assets.css" />
    </head>
    <body>
     <h1>here comes the</h1>
     
    </body>
    </html>
